.card-background-page {
  background: url('../assets/img/background.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  ion-card {
    position: relative;
    text-align: center;
    box-shadow: 0 10px 20px rgba(#ffffff, 0.4), 0 4px 4px rgba(#b30404, 0.4);
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-shadow: 0px 8px 8px rgba(#ffffff, 0.4);
  }

  .card-subtitle {
    padding-top: 5px;
    font-size: 2.0em;
    font-weight: bold;    
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-shadow: 0px 2px 2px rgba(#ffffff, 0.4);
  }

}
