.jogos {
  p {
    color : #FFF !important;
    font-size: 14px;
    text-align: center;
  }

  .shedule {
    padding-left: 15px;
  }


  .X {
    padding-top: 35px;
    font-size: 14px;

  }

}

.texto {
  text-align: center;
}

.campeonato {
  align-items: center;
}
