.card-content {
  background-color: #b30404;
}

.card-principal {
  position: relative;
  text-align: center;
  box-shadow: 0 10px 20px rgba(#ffffff, 0.4), 0 4px 4px rgba(#b30404, 0.4);
}

.lista {
  ion-row {
    align-items: center;
    text-align: center;
  }
  ion-item {
    border-radius: 30px !important;
    padding-left: 10px !important;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }
}
